@tailwind base;
@tailwind components;
@tailwind utilities;

.float{
  float: right;
}

.break{
  border-top: 3px solid rgb(87, 28, 252);
}

.display {
  background: rgb(184,139,246);
  background: linear-gradient(267deg, rgba(184,139,246,1) 0%, rgba(255,255,255,1) 57%);
  
}

.border-on{
 
 border-right: 3px solid black;
 transition: .1s ease-out;
}

.border-off {
  transition: .2s ease-in;
  border-right: 0px solid black;
}

.transitionPage {
  animation-name: fadeInUp;
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}
