@tailwind base;
@tailwind components;
@tailwind utilities;

.float{
  float: right;
}

.break{
  border-top: 3px solid rgb(87, 28, 252);
}

.display {
  background: rgb(137,242,176);
background: linear-gradient(267deg, rgba(137,242,176,1) 0%, rgba(255,255,255,1) 100%);
  
}

.border-on{
 
 border-right: 3px solid black;
 transition: .1s ease-out;
}

.border-off {
  transition: .2s ease-in;
  border-right: 0px solid black;
}

.transitionPage {
  animation-name: fadeInUp;
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.colour{
  background-color: #81b75d;
}

.nav {
  background-color: #D1E8E4;
}

.DAO-item{
  background-color: #C37B89;
}

.insight{
  background-color: #EAE7C6;
}

.margin {
  margin-left: -30rem;
}
